* {
    padding: 0;
    margin: 0;
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    width: 80%;
    margin: 200px auto 20px auto;
}
p {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
h1 {
    font-style: bold;
    font-size: 64px;
    color:rebeccapurple;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 32px;
    color: rebeccapurple;
}